
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading h3">Options</div>
        <div class="panel-body">
            <form action="/client-manager/Dashboard/SearchClient/">
                Search For Client:<br />
                <input class="form-control" type="text" name="clientName" value="" />
                <div class="small-gap"></div>
                <input class="btn btn-default" type="submit" value="Search" />
            </form> 

            <br/>
            <h4>Clients</h4>
            <a href="/client-manager/Clients/AddClient/">Add New Client</a>
            <br /><br />

            <h4>Jobs</h4>
            <a href="/client-manager/Jobs/ScheduleJob/">Add New Job</a><br />
            <a href="/client-manager/Jobs/AddServiceType/">Add Service Type</a>
            <br /><br />

            <h4>Your Profile</h4>
            <a href="/client-manager/Manage/">User Settings</a>
            <br /><br/>
        </div>
    </div>
</div>
