@{
    ViewBag.Title = "Dashboard";
}

<h3>Your Profile</h3>
<a href="/client-manager/Manage/">User Settings</a>
<br />

<h3>Clients</h3>
<a href="/client-manager/Clients/">Search Clients</a><br />
<a href="/client-manager/Clients/AddClient/">Add New Client</a>
<br />

<h3>Jobs</h3>
<a href="/client-manager/Jobs/">Search Jobs</a><br />
<a href="/client-manager/Jobs/ScheduleJob/">Schedule New Job</a><br />
<a href="/client-manager/Jobs/AddServiceType/">Add Service Type</a>
<br />
