
@{
    ViewBag.Title = "Dashboard";
}

<h2>User Dashboard</h2>

<h3>Your Profile</h3>
<a href="/Account/UpdateUser/">Update Profile</a>
<br />

<h3>Clients</h3>
<a href="/Clients/">Search Clients</a><br />
<a href="/Clients/AddClient/">Add New Client</a>
<br />

<h3>Jobs</h3>
<a href="#">Search Jobs</a><br />
<a href="#">Schedule New Job</a>
<br />


