@model ClientManagement.UI.MVC.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}
<h2>User Dashboard</h2>

@if (Model.statusCode == 0)
{
    @: <p class="alert alert-success">@Model.message</p>
}

else if (Model.statusCode == 1)
{
    @: <p class="alert alert-danger">@Model.message</p>
}

else
{
    @: <p class="alert alert-warning">Unable to process your request.</p>
}

@Html.Partial("DashboardOptions")
