@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>Client Manager</h2>
    <p class="lead">The ultimate light weight application for small business and independent contractors to manage their clientele.</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Sign Up Now</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>All Of Your Client's Information In One Place</h3>
        <p>
            Bring all of you client related information, scheduled jobs, and invoices into one application. 
        </p>
        <p><a class="btn btn-default" href="/#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Easily Manage Scheduled Services and Invoices</h3>
        <p>Keep track of your upcoming jobs and your previous visits to a client. View and store invoices for each job.</p>
        <p><a class="btn btn-default" href="/#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Use On-Site and at Your Home Office</h3>
        <p>Update what you need on the job with your tablet or smartphone, and access the content later on from home.</p>
        <p><a class="btn btn-default" href="/#">Learn more &raquo;</a></p>
    </div>
</div>